<!--
@license
(C) Copyright Nuxeo Corp. (http://nuxeo.com/)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
An element for displaying user data, which is dynamically loaded by `nuxeo-user-group-management`.
This element can be overridden with custom fields.

Example:

    <nuxeo-edit-user user=[[user]] new></nuxeo-edit-user>

Used by `nuxeo-user-management`
@group Nuxeo Elements
@element nuxeo-view-user
-->
<dom-module id="nuxeo-view-user">
  <template>
    <style>
      :host {
        display: block;
      }
      .row {
        margin: 10px 0;
      }
    </style>
    <div class="layout horizontal row">
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.userType')]]</label>
        <span>[[user.properties.userType]]</span>
      </div>
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.firstName')]]</label>
        <span>[[user.properties.firstName]]</span>
      </div>
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.lastName')]]</label>
        <span>[[user.properties.lastName]]</span>
      </div>
    </div>
    <div class="layout horizontal row">
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.education')]]</label>
        <span>[[user.properties.education]]</span>
      </div>
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.jobTitle')]]</label>
        <span>[[user.properties.jobTitle]]</span>
      </div>
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.occupation')]]</label>
        <span>[[user.properties.occupation]]</span>
      </div>
    </div>
    <div class="layout horizontal row">
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.town')]]</label>
        <span>[[user.properties.town]]</span>
      </div>
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.country')]]</label>
        <span>[[user.properties.country]]</span>
      </div>
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.nationality')]]</label>
        <span>[[user.properties.nationality]]</span>
      </div>
    </div>
    <div class="layout horizontal">
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.ageGroup')]]</label>
        <span>[[user.properties.ageGroup]]</span>
      </div>
      <div class="layout vertical flex">
        <label>[[i18n('viewUser.phoneNumber')]]</label>
        <span>[[user.properties.phoneNumber]]</span>
      </div>
      <div class="layout vertical flex">
        <label></label>
        <span></span>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'nuxeo-view-user',
      behaviors: [Nuxeo.I18nBehavior],
      properties: {
        /**
         * The user object to be displayed.
         */
        user: {
          type: Object,
          value: {}
        }
      }
    });
  </script>
</dom-module>