<!--
@license
(C) Copyright Nuxeo Corp. (http://nuxeo.com/)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
`nuxeo-audio-create-layout`
@group Nuxeo UI
@element nuxeo-audio-create-layout
-->
<dom-module id="nuxeo-audio-create-layout">

  <template>
    <nuxeo-input role="widget"
                 label="[[i18n('title')]]"
                 name="title"
                 value="{{document.properties.dc:title}}"
                 autofocus required>
    </nuxeo-input>

    <nuxeo-textarea role="widget"
                    label="[[i18n('label.description')]]"
                    name="description"
                    value="{{document.properties.dc:description}}">
    </nuxeo-textarea>

    <nuxeo-textarea role="widget"
        label="[[i18n('label.url')]]"
        name="url"
        value="{{document.properties.mul:url}}">
    </nuxeo-textarea>

    <nuxeo-textarea role="widget"
        label="[[i18n('label.repository')]]"
        name="repository"
        value="{{document.properties.dc:source}}">
    </nuxeo-textarea>

    <nuxeo-textarea role="widget"
        label="[[i18n('label.license.name')]]"
        name="license-name"
        value="{{document.properties.mul:License.name}}">
    </nuxeo-textarea>

    <nuxeo-textarea role="widget"
        label="[[i18n('label.license.type')]]"
        name="license type"
        value="{{document.properties.mul:License.type}}">
    </nuxeo-textarea>

    <nuxeo-textarea role="widget"
        label="[[i18n('label.license.version')]]"
        name="license version"
        value="{{document.properties.mul:License.version}}">
    </nuxeo-textarea>

    <nuxeo-textarea role="widget"
        label="[[i18n('label.license.url')]]"
        name="license url"
        value="{{document.properties.mul:License.url}}">
    </nuxeo-textarea>            

    <nuxeo-dropzone role="widget"
                    label="[[i18n('file.content')]]"
                    document="[[document]]"></nuxeo-dropzone>

    <nuxeo-directory-suggestion role="widget"
                                label="[[i18n('label.dublincore.nature')]]"
                                name="nature"
                                directory-name="nature"
                                value="{{document.properties.dc:nature}}"
                                placeholder="[[i18n('dublincoreEdit.directorySuggestion.placeholder')]]"
                                min-chars="0"></nuxeo-directory-suggestion>

    <nuxeo-directory-suggestion role="widget"
                                label="[[i18n('label.dublincore.subjects')]]"
                                name="subjects"
                                directory-name="l10nsubjects"
                                value="{{document.properties.dc:subjects}}"
                                multiple="true"
                                dbl10n="true"
                                placeholder="[[i18n('dublincoreEdit.directorySuggestion.placeholder')]]"
                                min-chars="0"></nuxeo-directory-suggestion>

    <nuxeo-directory-suggestion role="widget" label="[[i18n('label.dublincore.coverage')]]"
                                directory-name="l10ncoverage"
                                name="coverage"
                                value="{{document.properties.dc:coverage}}"
                                dbl10n="true"
                                placeholder="[[i18n('dublincoreEdit.directorySuggestion.placeholder')]]"
                                min-chars="0">
    </nuxeo-directory-suggestion>

    <nuxeo-date-picker role="widget"
                       label="[[i18n('label.dublincore.expire')]]"
                       name="expired"
                       value="{{document.properties.dc:expired}}">
    </nuxeo-date-picker>
  </template>

  <script>
    Polymer({
      is: 'nuxeo-audio-create-layout',
      behaviors: [Nuxeo.LayoutBehavior],
      properties: {
        /**
         * @doctype Audio
         */
        document: Object
      }
    });
  </script>

</dom-module>
