<!--
@license
(C) Copyright Nuxeo Corp. (http://nuxeo.com/)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
`nuxeo-video-view-layout`
@group Nuxeo UI
@element nuxeo-video-view-layout
-->
<dom-module id="nuxeo-enrichedvideo-view-layout">

  <template>
    <nuxeo-document-viewer role="widget" document="[[document]]"></nuxeo-document-viewer>
    <nuxeo-video-info role="widget" document="[[document]]"></nuxeo-video-info>
    <nuxeo-video-conversions role="widget" document="[[document]]" label="[[i18n('videoViewLayout.conversions')]]"></nuxeo-video-conversions>
    <nuxeo-document-attachments role="widget" document="[[document]]"></nuxeo-document-attachments>
  </template>

  <script>
    Polymer({
      is: 'nuxeo-enrichedvideo-view-layout',
      behaviors: [Nuxeo.LayoutBehavior],
      properties: {
        /**
         * @doctype Video
         */
        document: Object
      }
    });
  </script>

</dom-module>
