<link rel="import" href="../../elements.html">

<dom-module id="semantic-search">
    <template>
        <style>

            :host {
                box-sizing: border-box;
                display: inline-block;
                padding: 0 14px 0 14px;
                border-top: 1px solid #adadad;
                width: 290px;
                margin-bottom: 300px;
            }

            #button {
                margin-top: 16px;
            }

            p {
                margin: 4px 0;
                text-align: center;
            }

            input {
                margin-bottom: 8px;
            }

            #semanticSearchFile {
                text-align: center;
                width: 262px;
            }

            #submitButton {
                margin-right: 12px;
            }

            #submitContainer {
                margin-bottom: 12px;
            }

            #noAnnotationsMessage, #serverErrorMessage {
                color: red;
                margin: 0 0 12px 0;
            }

            #semTitle {
                margin-top: 14px;
            }

            #annotationsContainer {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .chip.animal {
                background-color: #FFFF8D;
            }

            .chip.date {
                background-color: #FFD180;
            }

            .chip.location {
                background-color: #CCFF90;
            }

            .chip.organization {
                background-color: #82B1FF;
            }

            .chip.person {
                background-color: #FF80AB;
            }

            .chip {
                height: 32px;
                margin: 0 8px 8px 0;
                padding: 0 12px;
                border-radius: 16px;
                font-size: 13px;
                line-height: 32px;
            }

            .chip:hover {
                cursor: pointer;
                background-color: lightgray;
                color: white;
            }

            .chip:active {
                background-color: gray;
            }

        </style>

        <paper-button id="button" on-click="toggle">Semantic Search</paper-button>

        <iron-collapse id="collapse">

            <nuxeo-operation
                    id="opSemUrl"
                    op="Document.SemanticSearchUrl"
                    on-response="_handleResponse">
            </nuxeo-operation>

            <iron-ajax
                    id="opSemFile"
                    method="POST"
                    headers='{"Content-Type" : "application/json", "Accept" : "application/json+nxentity, */*"}'
                    url="{{batchExecUrl}}"
                    handle-as="json"
                    on-response="_handleResponse"
                    on-error="_handleError"
                    body='{"params": {},"context": {}}'>
            </iron-ajax>

            <nuxeo-input on-focus="_clearFileInput" name="url" label="URL" placeholder="Input a URL" id="semanticSearchUrl"></nuxeo-input>

            <p>or</p>

            <input type="file" id="semanticSearchFile">

            <div id="submitContainer" class="layout horizontal center">
                <paper-button id="submitButton" on-tap="_submitRequest">Submit</paper-button>
                <paper-spinner id="spinner"></paper-spinner>
            </div>

            <template is="dom-if" if="{{noAnnotFound}}">
                <div id="noAnnotationsMessage">No meaningful keywords found</div>
            </template>

            <template is="dom-if" if="{{serverError}}" id="serverErrorMessageContainer">
                <div id="serverErrorMessage">{{serverErrorMessage}}</div>
            </template>

            <div id="annotationsContainer">
                <template id="annotationsList" is="dom-repeat" items="{{orderedAnnotations}}" as="annotation">
                    <div class$="chip {{annotation.type}}" on-click="_populateQueryField">{{annotation.content}}</div>
                </template>
            </div>

        </iron-collapse>


    </template>

    <script>
        Polymer({
            is: 'semantic-search',
            properties: {
                url: {
                    type: String
                },
                batchId: {
                    type: String
                },
                batchExecUrl: {
                    type: String
                },
                orderedAnnotations: {
                    type: Array,
                    value: []
                },
                annotationsTypes: {
                    type: Array,
                    value: []
                },
                noAnnotFound: {
                    type: Boolean,
                    value: false
                },
                serverError: {
                    type: Boolean,
                    value: false
                },
                serverErrorMessage: {
                    type: String,
                    value: "A server error occurred"
                }
            },

            ready: function() {
                let urlInputField = this.$.semanticSearchUrl;
                this.$.semanticSearchFile.onchange = function() {
                    urlInputField.value = "";
                };

                let fileInputField = this.$.semanticSearchFile;

                let input = urlInputField.$.paperInput.$.input;
                input.onfocus = function() {
                    fileInputField.value = null;
                }

                this.$.opSemUrl.addEventListener('loading-changed', this._onLoadingChanged.bind(this));
            },

            _submitRequest: function (event) {
                this.orderedAnnotations = [];
                this.populated = false;
                this.noAnnotFound = false;
                this.$.semanticSearchUrl.value ? this._submitUrl(event) : this._submitFile(event);
            },

            //
            // URL handling
            //
            _submitUrl: function (event) {
                var newUrl = this.$.semanticSearchUrl.value;
                if (newUrl) {

                    this.$.semanticSearchFile.value = "";
                    this.url = newUrl;
                    this.$.opSemUrl.params = {
                        "url": this.url
                    };
                    this.$.opSemUrl.execute();
                }
            },

            _onLoadingChanged: function(data) {
                if (data.detail.value) {
                    this.$.spinner.active = true;
                    this.serverError = false;
                } else {
                    this.$.spinner.active = false;
                    this.serverErrorMessage = "The URL could not be reached";
                    if (!this.$.opSemUrl.success) this.serverError = true;
                }
            },

            //
            // File handling
            //
            _submitFile: function (event) {

                this.serverError = false;
                var newFile = this.$.semanticSearchFile.files[0];
                var ctx = this;
                if (newFile) {

                    this.$.spinner.active = true;

                    var nuxeoBlob = new Nuxeo.Blob({ content: newFile });
                    var nuxeo = new Nuxeo();

                    nuxeo.batchUpload()
                        .upload(nuxeoBlob)
                        .then(function (uploadedFile) {
                            ctx.batchExecUrl = location.origin
                                + "/nuxeo/api/v1/upload/"
                                + uploadedFile.blob["upload-batch"]
                                + "/execute/Document.SemanticSearchFile";
                            ctx.$.opSemFile.generateRequest();
                        });
                }
            },

            _handleResponse: function(data) {
                this._indexAnnotations(JSON.parse(data.detail.response.value));
                this.$.annotationsList.render();
                this.$.spinner.active = false;
            },

            _handleError: function(data) {
                error = data.detail.request.xhr.response.error;
                this.serverErrorMessage = error.substring(error.indexOf(" ") + 1);
                this.serverError = true;
                this.$.spinner.active = false;
            },

            //
            // Annotation indexing
            //

            // create the annotation array ordered by estimated importance
            _indexAnnotations: function(annotations) {

                // array of types of retrieved annotations
                let types = Object.keys(annotations);

                // initialise the annotations categories array used to color the annotation chips
                this.annotationsTypes = [];

                // used to exit the loop if we cannot find any other annotation
                let l = -1;

                // needed to overcome a polymer limitation of the dom-repeat rendering
                let tmpArray = [];

                // populate the array
                for (let i = 0; tmpArray.length < 10 && tmpArray.length !== l; i++) {
                    l = tmpArray.length;
                    for (let annotationType of types) { // take the i-th annotation if it occurs more than once
                        let annotation = annotations[annotationType][i];
                        if (annotation && annotation['occurrences'] > 1 && tmpArray.length <= 10) {
                            tmpArray.push({
                                "content" : annotation['content'],
                                "type"    : annotationType.toLowerCase()
                            });
                        }
                    }
                }

                // we update the property in one shot so that the dom-repeat can render properly
                tmpArray.length ? this.orderedAnnotations = tmpArray : this.noAnnotFound = true;

            },

            _populateQueryField: function(event) {
                var annotation = event.target.innerText;

                var queryField = null;
                if (document.getElementsByClassName("selected")[0].name === "defaultSearch") {
                    queryField = document.getElementsByClassName("style-scope nuxeo-default-search-form")[0];
                } else if (document.getElementsByClassName("selected")[0].name === "assetsSearch") {
                    queryField = document.getElementsByClassName("nuxeo-assets-search-form")[2];
                }
                if (queryField != null) {
                    queryField.value === "" ? queryField.value += annotation : queryField.value += " " + annotation;
                    queryField.focus();
                }

            },

            toggle: function() {
                this.$.collapse.toggle();
                this.$.button.setAttribute('aria-expanded', this.$.collapse.opened);
                this.$.semanticSearchUrl.focus();
            }

        });

    </script>

</dom-module>