<!--
@license
(C) Copyright Nuxeo Corp. (http://nuxeo.com/)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
`nuxeo-default-search-form`
@group Nuxeo UI
@element nuxeo-default-search-form
-->
<dom-module id="nuxeo-default-search-form">
  <template>

    <nuxeo-input role="widget"
                 id="searchInput"
                 type="search"
                 label="[[i18n('defaultSearch.fullText')]]"
                 value="{{searchTerm}}"
                 placeholder="[[i18n('defaultSearch.fullText.placeholder')]]"
                 autofocus
                 on-keydown="_checkForEnter">
    </nuxeo-input>



    <div role="widget">
      <label>[[i18n('defaultSearch.creationDate')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.dc_created_agg]]"
        value="{{params.dc_created_agg}}">
      </nuxeo-checkbox-aggregation>
    </div>

    <div role="widget">
      <label>[[i18n('defaultSearch.modifiedDate')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.dc_modified_agg]]"
        value="{{params.dc_modified_agg}}">
      </nuxeo-checkbox-aggregation>
    </div>

    <div role="widget">
      <label>[[i18n('defaultSearch.authors')]]</label>
      <nuxeo-dropdown-aggregation placeholder="[[i18n('defaultSearch.authors.placeholder')]]"
        data="[[aggregations.dc_creator_agg]]"
        value="{{params.dc_creator_agg}}"
        multiple="true"
        name="authors">
      </nuxeo-dropdown-aggregation>
    </div>

    <div role="widget">
      <label>[[i18n('defaultSearch.collections')]]</label>
      <nuxeo-select2 operation="User.GetCollections"
                     min-chars="0"
                     placeholder="[[i18n('defaultSearch.collections.placeholder')]]"
                     value="{{params.ecm_collections}}"
                     multiple="true"
                     name="collections">
      </nuxeo-select2>
    </div>

    <div role="widget">
      <label>[[i18n('defaultSearch.tags')]]</label>
      <nuxeo-tag-suggestion min-chars="1"
                     placeholder="[[i18n('defaultSearch.tags.placeholder')]]"
                     value="{{params.ecm_tags}}"
                     multiple="true"
                     name="tags">
      </nuxeo-tag-suggestion>
    </div>

    <div role="widget">
      <label>[[i18n('defaultSearch.nature')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.dc_nature_agg]]"
        value="{{params.dc_nature_agg}}"
        name="nature">
      </nuxeo-checkbox-aggregation>
    </div>

    <div role="widget">
      <label>[[i18n('defaultSearch.subject')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.dc_subjects_agg]]"
        value="{{params.dc_subjects_agg}}"
        name="subject">
      </nuxeo-checkbox-aggregation>
    </div>

    <div role="widget">
      <label>[[i18n('defaultSearch.coverage')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.dc_coverage_agg]]"
        value="{{params.dc_coverage_agg}}"
        name="coverage">
      </nuxeo-checkbox-aggregation>
    </div>

    <div role="widget">
      <label>[[i18n('defaultSearch.size')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.common_size_agg]]"
        value="{{params.common_size_agg}}"
        name="size">
      </nuxeo-checkbox-aggregation>
    </div>
  </template>

  <script>
    Polymer({
      is: 'nuxeo-default-search-form',
      behaviors: [Nuxeo.I18nBehavior, Nuxeo.RoutingBehavior],
      properties: {
        params: {
          type: Object,
          value: {},
          notify: true
        },
        aggregations: {
          type: Object,
          value: {},
          notify: true
        },
        searchTerm: {
          type: String,
          notify: true,
          observer: '_addFullTextSearch'
        }
      },

      clear: function() {
        this.searchTerm = '';
      },

      _addFullTextSearch: function() {
        if (this.searchTerm) {
          this.set('params.ecm_fulltext', this.searchTerm + '*');
          this.set('params.highlight',
            'dc:title.fulltext,ecm:binarytext,dc:description.fulltext,ecm:tag,note:note.fulltext,file:content.name');
        } else {
          if (this.params.ecm_fulltext) {
            this.set('params.ecm_fulltext', '');
            delete this.params.ecm_fulltext;
            delete this.params.highlight;
          }
        }
      },

      _checkForEnter: function(e) {
        if (e.keyCode === 13) {
          this.fire('trigger-search');
        }
      }

    });
  </script>
</dom-module>
