<!--
@license
(C) Copyright Nuxeo Corp. (http://nuxeo.com/)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
`nuxeo-default-search-results`
@group Nuxeo UI
@element nuxeo-default-search-results
-->
<dom-module id="nuxeo-default-search-results">
  <template>

    <nuxeo-results name="default" nx-provider="[[nxProvider]]" selected-items="{{selectedItems}}" display-mode="list">

      <nuxeo-data-grid name="grid" icon="nuxeo:view-thumbnails" class="results" empty-label="[[i18n('searchResults.noResults')]]" selection-enabled display-quick-filters>
        <template>
          <nuxeo-document-grid-thumbnail tabindex$="{{tabIndex}}" selected$="{{selected}}" doc="[[item]]"
                                         on-navigate="_navigate" selected-items="[[selectedItems]]">
          </nuxeo-document-grid-thumbnail>
        </template>
      </nuxeo-data-grid>

      <nuxeo-data-table name="table" icon="nuxeo:view-list" class="results"
                        settings-enabled
                        empty-label="[[i18n('searchResults.noResults')]]"
                        selection-enabled
                        display-quick-filters
                        on-row-clicked="_navigate">

        <nuxeo-data-table-column name="[[i18n('label.dublincore.title')]]" field="dc:title" sort-by="dc:title" flex="100">
          <template>
            <nuxeo-document-thumbnail document="[[item]]"></nuxeo-document-thumbnail>
            <a class="ellipsis" href$="[[urlFor('browse', item.path)]]" on-tap="_navigate">[[item.title]]</a>
          </template>
        </nuxeo-data-table-column>

        <nuxeo-data-table-column name="[[i18n('label.dublincore.modified')]]" field="dc:modified" sort-by="dc:modified" flex="50">
          <template>
            <nuxeo-date datetime="[[item.properties.dc:modified]]"></nuxeo-date>
          </template>
        </nuxeo-data-table-column>

        <nuxeo-data-table-column name="[[i18n('label.dublincore.lastContributor')]]" field="dc:lastContributor" sort-by="dc:lastContributor" flex="50">
          <template>
            <nuxeo-user-tag user="[[item.properties.dc:lastContributor]]"></nuxeo-user-tag>
          </template>
        </nuxeo-data-table-column>

        <nuxeo-data-table-column name="[[i18n('label.state')]]" field="currentLifeCycleState" hidden>
          <template>
            <span class="capitalize">[[item.state]]</span>
          </template>
        </nuxeo-data-table-column>

        <nuxeo-data-table-column name="[[i18n('label.version')]]" field="versionLabel" hidden>
          <template>
            [[formatVersion(item)]]
          </template>
        </nuxeo-data-table-column>

        <nuxeo-data-table-column name="[[i18n('label.dublincore.created')]]" field="dc:created" sort-by="dc:created" flex="50" hidden>
          <template>
            <nuxeo-date datetime="[[item.properties.dc:created]]"></nuxeo-date>
          </template>
        </nuxeo-data-table-column>

        <nuxeo-data-table-column name="[[i18n('label.dublincore.author')]]" field="dc:creator" sort-by="dc:creator" hidden>
          <template>
            <nuxeo-user-tag user="[[item.properties.dc:creator]]"></nuxeo-user-tag>
          </template>
        </nuxeo-data-table-column>

        <nuxeo-data-table-column name="[[i18n('label.dublincore.nature')]]" field="dc:nature" hidden>
          <template>
            <nuxeo-tag hidden$="[[!item.properties.dc:nature]]">[[formatDirectory(item.properties.dc:nature)]]</nuxeo-tag>
          </template>
        </nuxeo-data-table-column>

        <nuxeo-data-table-column name="[[i18n('label.dublincore.coverage')]]" field="dc:coverage" hidden>
          <template>
            <nuxeo-tag hidden$="[[!item.properties.dc:coverage]]">[[formatDirectory(item.properties.dc:coverage)]]</nuxeo-tag>
          </template>
        </nuxeo-data-table-column>

        <nuxeo-data-table-column name="[[i18n('label.dublincore.subjects')]]" field="dc:subjects" hidden flex="60">
          <template>
            <template is="dom-repeat" items="[[item.properties.dc:subjects]]" as="subject">
              <nuxeo-tag>[[formatDirectory(subject)]]</nuxeo-tag>
            </template>
          </template>
        </nuxeo-data-table-column>

      </nuxeo-data-table>

      <nuxeo-data-list class="results" name="list" icon="nuxeo:view-headline"
                       empty-label="[[emptyLabel]]" multi-selection
                       empty-label-when-filtered="[[emptyLabelWhenFiltered]]"
                       selection-enabled display-quick-filters>
        <template>
          <nuxeo-document-list-item selected$="{{selected}}" doc="[[item]]"
                                    on-navigate="_navigate" selected-items="[[selectedItems]]">
          </nuxeo-document-list-item>
        </template>
      </nuxeo-data-list>

    </nuxeo-results>
  </template>

  <script>
    Polymer({
      is: 'nuxeo-default-search-results',
      behaviors: [Nuxeo.LayoutBehavior],
      properties: {
          nxProvider: Object
      },
    
      _navigate: function(e) {
        this.fire('navigate', {doc: (e.model || e.detail).item});
      }
    });
  </script>

</dom-module>
