<dom-module id="annotation-generation">
  <template>

      <iron-ajax
      id="requestconf"
      url="../../conf.json"
      on-error="ResponseError"
      on-response="ResponseConf"
      ></iron-ajax>

      <iron-ajax
      id="requestmodel"
      on-error="ResponseError"
      last-response="{{model}}"></iron-ajax>

      <iron-ajax
      id="requestlang"
      on-error="ResponseError"
      on-response="Responselang"
      ></iron-ajax>

      <iron-ajax
      id="requestannotate"
      handle-as="json"
      method="post"
      headers='{"content-type": "application/json"}'
      loading="{{loading}}"
      on-error="ResponseErrorAnnotate"
      on-response="ResponseAnnotate"></iron-ajax>  

      <nuxeo-document id="doc" doc-id="[[document.uid]]" response="{{document}}"></nuxeo-document>

      <paper-toast id="toast"></paper-toast>

      <paper-button  hidden$="[[hideAnnotate]]" on-tap="_openannotate">Annotate</paper-button>
      <paper-button  hidden$="[[hideExport]]" on-tap="_exportAdobe">Export to Adobe</paper-button>
       <a href="#" id="fileLink" hidden></a>
        <paper-dialog id='annotate' modal>
              <h2 class="title">ANNOTATE</h2>

              <div><span>Process that you want to do:</span></div>
              <paper-checkbox noink="" checked="{{facedetection}}" id="facedetection">
                  Face detection
              </paper-checkbox>
              <paper-checkbox noink="" on-tap="fr_tap" checked="{{facerecognition}}" id="facerecognition">
                  Face Recognition
              </paper-checkbox>
              <paper-checkbox noink="" checked="{{objectdetection}}" id="objectdetection">
                  Object Detection
              </paper-checkbox>
              <paper-checkbox noink="" on-tap="t_tap" checked="{{transcription}}" id="transcription">
                  Transcription
              </paper-checkbox>
              <div class="warning" hidden="[[warnoption]]">Choose at least one option!</div>

              <div>
                <span>Please select the Recognizer</span>              
                <select id="recognizer" disabled="[[disableRecognizer]]" >
                    <option value="-1">Select Recognizer</option>
                    <template is="dom-repeat" items="{{model}}">
                        <option value="{{item.name}}">{{item.name}}</option>
                    </template>
                </select>
                <div class="warning" hidden="[[warnrecognizer]]">Choose a recognizer from the list!</div>
              </div>
              
              <div>        
                <span>Please select input and output language</span>      
                <select id="lang"  disabled="[[disableTranscription]]">
                    <option value="-1">Select Language</option>
                    <template is="dom-repeat" items="{{transcriptionlang}}">
                        <option value="{{item.id}}">{{item.name}}</option>
                    </template>
                </select>
                <div class="warning" hidden="[[warnlang]]">Choose a language from the list!</div>
              </div>

              <paper-checkbox noink="" checked="{{spartialinfo}}" id="spartialinfo">
                  Would you like to retrieve spartial information of the tags found (position, dimensions)?
              </paper-checkbox>

              <div>
                <span>Please provide any mutual tag you want to add to the annotated result of the process divided by comma:</span>
                <input type="text" id="tags" name="tags"/>
              </div>

              <div>
                <span>Please select every how many frames the annotation process will be run (default 50):</span>
                <input type="number" min="1" id="framerate" name="framerate" value="50"/> 
                <div class="warning" hidden="[[warnframes]]">Choose a number major then Zero!</div>
              </div>

          <div>{{message}}</div>
          <div>{{url}}</div>

          <paper-spinner active="" hidden$="[[!loading]]"></paper-spinner>

          <div class='buttons'>
            <paper-button on-tap="resetform">Reset</paper-button>
            <paper-button on-tap="sendToAAT">Annotate</paper-button>
            <paper-button dialog-dismiss>close</paper-button>
        </div>

        </paper-dialog>  


    <style>

      :host {
        display: block;
      }

      .title{
        margin-top:20px;
        text-align:center;
      }

      .warning {
        color: red;
      }


    </style>
</template>

  <script>
    Polymer({
      is: 'annotation-generation',
      behaviors: [Nuxeo.I18nBehavior, Polymer.IronFormElementBehavior, Polymer.IronValidatableBehavior],
      properties: {

        message: String,

        url: String,

        model: Array,

        transcriptionlang: Array,

        conf: {
              type: Object,
              notify: true
        },

        env: String,

        facedetection:  {
          type: Boolean,
          notify: true,
          value: true
        },

        facerecognition:  {
          type: Boolean,
          notify: true,
          value: true
        },

        objectdetection:  {
          type: Boolean,
          notify: true,
          value: true
        },

        transcription:  {
          type: Boolean,
          notify: true,
          value: true
        },

        transcription:  {
          type: Boolean,
          notify: true,
          value: true
        },

        loading: {
          type: Boolean,
          notify: true,
          value: false
        },

        hideAnnotate: {
          type: Boolean,
          value: true
        },

        hideExport: {
          type: Boolean,
          value: false
        },

        disableRecognizer: {
          type: Boolean,
          value: true
        },

        disableTranscription: {
          type: Boolean,
          value: true
        },

        warnlang: {
          type: Boolean,
          value: true
        },

        warnrecognizer: {
          type: Boolean,
          value: true
        },

        warnoption: {
          type: Boolean,
          value: true
        },

        warnframes: {
          type: Boolean,
          value: true
        },

        document: {
          type: Object,
          observer: '_observeDocument'
        },

         _dirtyProperties: Object 
      },
      ready: function() {
       this.env = window.nuxeo.environment;
      },
       _exportAdobe: function() {
           var ann = this.document.properties['ann:Annotation'];
           var content = "\"Screenlight Premiere Pro Marker Export 1.0\",,,,\r\n";
               content += "\"Name:\",\"Time:\",\"Duration:\",\"Marker Color:\",\"Comment:\"\ \r\n";
           if( ann['objectdetection'] != null) {

                var objdet = ann['objectdetection'];
      
                for(var i = 0; i < objdet.length; i++) {
                console.log(objdet[i].class);
                content+=   "\"" + objdet[i].class + "\" ,";  // Name
                content+=  objdet[i].timecode + ","; // Time
                content+= "0,";  // Duration
                content+= "#00C0FF,"; // Marker Color
                content+= "\"\"";  // Comment
                content+= "\r\n";

                }
           }

           if( ann['facedetection'] != null) {

                var facedet = ann['facedetection'];

                for(var i = 0; i < facedet.length; i++) {
                console.log(facedet[i].face);
                content+=  '\"'+facedet[i].face + '\" ,';  // Name
                content+=  facedet[i].timecode + ","; // Time
                content+= "0,";  // Duration
                content+= "#FF9F9F,"; // Marker Color
                content+= "\"\"";  // Comment
                content+= "\r\n";
                
                }

            }

              var link = this.createFile(content);
              this.$.fileLink.download = "markers-"+this.document.uid+".csv";
              this.$.fileLink.href = link;
              this.$.fileLink.click();

      },


      createFile(text) {
              var textBlob = new Blob([text], {type: 'text/csv;charset=utf-8;'});               
              return window.URL.createObjectURL(textBlob);
      },
      resetform() {
/*
        var facedet = document.querySelector('#facedetection');  
        facedet.setAttribute("checked", false);  
        console.dir(facedet);
        var facerecognition = document.querySelector('#facerecognition');
        facerecognition.setAttribute("checked", false); 

        var objdet = document.querySelector('#objectdetection');  
        objdet.setAttribute("checked", false);

        var transcription = document.querySelector('#transcription');  
        transcription.setAttribute("checked", false);   

        var spartialinfo = document.querySelector('#spartialinfo');  
        spartialinfo.setAttribute("checked", false);   
*/
        this.facedetection = false;

        this.facerecognition = false;

        this.objectdetection = false;

        this.transcription = false;

        this.spartialinfo = false;

        this.disableRecognizer = true;

        this.disableTranscription = true;

        this.warnlang = true;

        this.warnrecognizer = true;

        this.warnoption = true;

        this.warnframes = true;

        var recognizer = document.querySelector('#recognizer');
        recognizer.value = -1;   

        var tags = document.querySelector('#tags');
        tags.value = "";   
         
        var framerate = document.querySelector('#framerate');  
        framerate.value = 50; 

      },
      ResponseError: function (data) {
         console.log("ResponseError:");
         console.dir(data);
         var message = data.detail.error.message ? data.detail.error.message : 'Unknown error!';
         var url = data.detail.request.url ? 'URL: ' + data.detail.request.url : '';
         this.message = "Message: "+message;
         this.url = url;
      },
      ResponseConf: function (data) {
         console.log("ResponseConf:");
         console.dir(data.detail.response);
         this.conf = data.detail.response;
         console.log("this.conf[this.env].AAT.model"+this.conf[this.env].AAT.model);
         this.$.requestmodel.url = this.conf[this.env].AAT.model;
         this.$.requestmodel.generateRequest();

         this.$.requestlang.url = this.conf[this.env].AAT.transcriptionlang;
         this.$.requestlang.generateRequest();


         this.resetform();
         this.$.annotate.open();   
        //this.message = "Successfully submitted annotations tasks";
      },
      Responselang: function (data) {
        console.log("Responselang:");
        console.dir(data);
         if(data.detail.response != undefined) {

         }
        var languages = data.detail.response.languages;

        var i;
        var array = [];
        for (i = 0; i < languages.length; i++) { 
            const tmp = languages[i].split(',');

            if(tmp[0] != undefined && tmp[1] != undefined) {
              array.push({ id: tmp[0], name: tmp[1] });
            }
         
        }
        this.transcriptionlang = array;
        
      },  
      _openannotate: function () {
        console.log("opening annotate dialog");
        this.$.requestconf.generateRequest();
      },
      fr_tap: function (event) {

        //console.log("event");
        //console.dir(event);
        var facerecognition = document.querySelector('#facerecognition');
        console.log("facerecognition");
        console.dir(facerecognition);
        if(facerecognition != null) {
                this.disableRecognizer = !facerecognition.checked;
                console.log("this.disableRecognizer"+this.disableRecognizer);
        }

      },
      t_tap: function () {

        //console.log("event");
        //console.dir(event);
        var transcription = document.querySelector('#transcription');
        console.log("transcription");
        console.dir(transcription);
        if(transcription != null) {
                this.disableTranscription = !transcription.checked;
                console.log(" this.disableTranscription"+ this.disableTranscription);
        }

      },
      _observeDocument: function() { 

        if (this.document) {

          if(this.document.properties['file:content'] != null) {
             this.hideAnnotate = false;
          }else{
             this.hideAnnotate = true;
          }
              console.log("annotation:"+this.document.properties['ann:Annotation']);

          if(this.document.properties['ann:Annotation'] != null) {
             
             var ann = this.document.properties['ann:Annotation'];

              if( ann['facedetection'].length > 0 || ann['objectdetection'].length > 0) {
                  this.hideExport = false;
              }else{
                  this.hideExport = true;
              }

          }else{
             this.hideExport = true;
          }

        }
        
        },
        _save: function() {
           
           this._dirtyProperties = { "ann:Annotation": this.document.properties["ann:Annotation"] };
           console.log("this._dirtyProperties ann:Annotation");
           console.dir( this._dirtyProperties);


        this.$.doc.data = {
          'entity-type': 'document',
           uid: this.document.uid,
           properties: this._dirtyProperties
        };
       

          //Giuseppe
          this.$.doc.put().then(this._update.bind(this)).catch(function(error) {
                  console.log("error:"+error);
                  this.ResponseError(error);
          }.bind(this));
        },

        _update: function(r) {
            //console.log("browse to the document "+this.document.uid);
            console.log("updated doc:");
            console.dir(r);
            this.navigateTo('document', this.document.uid);

        },

        ResponseAnnotate: function (data) {
          console.log("ResponseAnnotate:");
          console.dir(data.detail.response);
          var status;
          if(data.detail.response['message']) {
            this.message = data.detail.response['message'] ? data.detail.response['message'] : 'The Annotation started!';
            status = 'ANNOTATING';
          }
          if(data.detail.response['error']) {
            status = 'ERROR';
            this.message = data.detail.response['error'] ? data.detail.response['error'] : 'ERROR';
          }

          var now = new Date().getTime();
          this.document.properties["ann:Annotation"].annotationStatus = status;
          this.document.properties["ann:Annotation"].aatLastUpdate = now;
          this.document.properties["ann:Annotation"].aatMessage = this.message;
          this._save();
          //this.message = "Successfully submitted annotations tasks";
        },

        ResponseErrorAnnotate: function (data) {
         console.log("ResponseError:");
         console.dir(data);
         var message = data.detail.error.message ? data.detail.error.message : 'Unknown error!';
         var url = data.detail.request.url ? 'URL: ' + data.detail.request.url : '';
         this.message = "Message: "+message;
         this.url = url;
         var now = new Date().getTime();
         this.document.properties["ann:Annotation"].annotationStatus = "FAILURE";
         this.document.properties["ann:Annotation"].aatLastUpdate = now;
         this.document.properties["ann:Annotation"].aatMessage = "Error during the comunication with AAT! "+message;
         this._save();
      },
      message: function(message) {
         this.$.toast.text = message;
         //this.$.toast.duration = 3000;
         this.$.toast.open();
      },

      sendToAAT: function () {

        this.message = "";
        this.url = "";
        var validation = true;
        
        this.warnlang = true;
        this.warnrecognizer = true;
        this.warnoption = true;
        this.warnframes = true;

        if(this.document) {
            
          if(this.document.properties['file:content'] != null) {
        
              var params = '{ "content": { "uid": "' + this.document.uid  + '",   "path": "'+ this.document.properties['file:content'].data  + '"},';

              var nparam = false;

               var facedetection = document.querySelector('#facedetection');
               var facerecognition = document.querySelector('#facerecognition');
               var objectdetection = document.querySelector('#objectdetection');
               
               var framerate = document.querySelector('#framerate');
              
               var recognizer = document.querySelector('#recognizer option:checked');     


              if((typeof facedetection != 'undefined' && facedetection.checked) ||
                 (typeof facerecognition != 'undefined' && facerecognition.checked) ||
                 (typeof objectdetection != 'undefined' && objectdetection.checked))  {

                          console.log("facedetection or facerecognition or objectdetection is checked");

                            if(Number(framerate.value) > 0) {

                                    if(nparam) {
                                        params+= ",";
                                    }

                                  params+= ' "cascade": {  "framerate": '+ framerate.value+' } ';
                                  nparam = true;
                                          
                            }else{
                                  this.warnframes = false;
                                  validation = false;
                            }

                            
              }
        


        
              if(typeof facerecognition != 'undefined' && facerecognition.checked) {
                    if(typeof recognizer != 'undefined') {

                          if(recognizer.value != -1) {

                                    if(nparam) {
                                        params+= ",";
                                    }

                                    params+= '"recognizer": {"name": "' + recognizer.value + '"}';
                                    nparam = true;
                                    // console.log("recognizer.value:" + recognizer.value);
                            }else{
                              validation = false;
                              this.warnrecognizer = false;
                            }
                      }else{
                            this.message+= "It was found an issue with the recognizer! ";
                            validation = false;
                            console.log("recognizer undefined");
                      }
              }else{
                     console.log("facerecognition not checked");
              }
             
             
              if(typeof objectdetection != 'undefined' && objectdetection.checked) {
                         // console.log("objectdetection:" + objectdetection.checked);
                          if(Number(framerate.value) > 0) {
                               if(nparam) {
                                  params+= ",";
                                }
                                params+= '"objdetector": {"framerate": '+ framerate.value+' }';
                                nparam = true;
                          }else{
                                this.warnframes = false;
                                validation = false;
                          }
 
              }else{
                          console.log("objectdetection undefined or not checked");
              }


              var transcription = document.querySelector('#transcription');  
              var lang = document.querySelector('#lang option:checked');
              var language = "";
              if(transcription.checked) {
                    if(typeof lang != 'undefined') {
                          if(lang.value != -1) {
                              // console.log("lang:" + lang.value);
                                    if(nparam) {
                                        params+= ",";
                                    }
                                language = lang.value;
                                params+=' "transcription": {"input_language": "'+language+'" , "output_language":"'+ language + '" } ';
                                nparam = true;
                            }else{
                              this.warnlang = false;
                              validation = false;
                            }
                    }else{
                        validation = false;
                        this.message+= "It was found an issue with the language list! ";
                        console.log("language undefined");
                    }
              }else{
                console.log("transcription not checked");
              }
             

               var spartialinfo = document.querySelector('#spartialinfo');  
               if(typeof spartialinfo != 'undefined') {
                           //console.log("spartialinfo:" + spartialinfo.checked);

                                if(nparam) {
                                  params+= ",";
                                }
                                params+= '"bounding_boxes":'+'"'+spartialinfo.checked+'"';
                                nparam = true; 
                }else{
                        validation = false;
                        this.message+= "It was found an issue with the spartialinfo! \n";
                        console.log("objectdetection undefined");
                }

                var tags = document.querySelector('#tags');
                if(typeof tags != 'undefined' && tags.value) {
                           //console.log("spartialinfo:" + spartialinfo.checked);

                                if(nparam) {
                                  params+= ",";
                                }
                                params+= '"manual_tags": { "class": "' + tags.value + '" }';
                                nparam = true; 
                 }else{
                          console.log("tags undefined or empty");
                 }

        
              params+='}';

              // select atleast one option
              if( !facedetection.checked  &&  !facerecognition.checked && !objectdetection.checked && !transcription.checked) {
                    
                      this.warnoption = false;
                      validation = false;
              
              }
        
              /*
                var params = {
                  "content": {
                    "path": "\""+this.document.properties['file:content'].data+"\""
                  },
                  
                  "bounding_boxes": "True",
        
                  "recognizer": {
                    "name": "\""+recognizer.value+"\""
                  },
        
                  "objdetector": "\""+objdetector+"\"",
        
                  "transcription": {
                    "input_language": "\""+input_language+"\"",
                    "output_language": "\""+output_language+"\""
                  }
        
                };
                var body = JSON.stringify(params);
                console.log("params:"+body);
        */
                console.log("params:"+params);
                console.log("this.conf[this.env].AAT.annotate "+this.conf[this.env].AAT.annotate);
                this.$.requestannotate.url = this.conf[this.env].AAT.annotate;
                this.$.requestannotate.body = params;
                if(validation) {
                    this.$.requestannotate.generateRequest();
                }else{

                }

                }else{
                  this.message+= "The video is missing in the document! \n";
                  console.warn("this.document.properties['file:content'].data is missing!");
                }
        
              }else{
                    console.warn("this.document is not ready!");
              }
        
            }
        
    });
  </script>
</dom-module>