<!--
@license
(C) Copyright Nuxeo Corp. (http://nuxeo.com/)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
`nuxeo-video-metadata-layout`
@group Nuxeo UI
@element nuxeo-video-metadata-layout
-->

<dom-module id="nuxeo-video-metadata-layout">

  <template>
    <div role="widget">
      <label>[[i18n('label.dublincore.title')]]</label>
      <div name="title">[[document.properties.dc:title]]</div>
    </div>

    <div role="widget" hidden$="[[!document.properties.dc:description]]">
      <label>[[i18n('label.dublincore.description')]]</label>
      <div name="description" class="multiline">[[document.properties.dc:description]]</div>
    </div>

    <div role="widget" hidden$="[[!document.properties.dc:source]]">
      <label>[[i18n('label.repository')]]</label>
      <div name="repository">[[document.properties.dc:source]]</div>
    </div>

    <div role="widget" hidden$="[[!document.properties.mul:License.name]]">
      <label>[[i18n('label.license.name')]]</label>
      <div name="license name">[[document.properties.mul:License.name]]</div>
    </div>
<!--
    <div role="widget" hidden$="[[!document.properties.mul:License.type]]">
      <label>[[i18n('label.license.type')]]</label>
      <div name="license type">[[document.properties.mul:License.type]]</div>
    </div>

    <div role="widget" hidden$="[[!document.properties.mul:License.version]]">
      <label>[[i18n('label.license.version')]]</label>
      <div name="license version">[[document.properties.mul:License.version]]</div>
    </div>

    <div role="widget" hidden$="[[!document.properties.mul:License.url]]">
      <label>[[i18n('label.license.url')]]</label>
      <div name="license url">[[document.properties.mul:License.url]]</div>
    </div>

    <div role="widget" hidden$="[[!document.properties.dc:nature]]">
      <label>[[i18n('label.dublincore.nature')]]</label>
      <div name="nature">[[formatDirectory(document.properties.dc:nature)]]</div>
    </div>

    <nuxeo-directory-suggestion role="widget"
                                label="[[i18n('label.dublincore.subjects')]]"
                                directory-name="l10nsubjects"
                                name="subjects"
                                value="{{document.properties.dc:subjects}}"
                                hidden$="[[!document.properties.dc:subjects.length]]"
                                multiple="true"
                                dbl10n="true"
                                readonly>
    </nuxeo-directory-suggestion>

    <div role="widget" hidden$="[[!document.properties.dc:coverage]]">
      <label>[[i18n('label.dublincore.coverage')]]</label>
      <div name="coverage">[[formatDirectory(document.properties.dc:coverage)]]</div>
    </div>

    <div role="widget" hidden$="[[!document.properties.dc:expired]]">
      <label>[[i18n('label.dublincore.expire')]]</label>
      <div name="expired">[[formatDate(document.properties.dc:expired)]]</div>
    </div>
    -->
  </template>

  <script>
    Polymer({
      is: 'nuxeo-video-metadata-layout',
      behaviors: [Nuxeo.LayoutBehavior],
      properties: {
        /**
         * @doctype Video
         */
        document: Object
      }
    });
  </script>

</dom-module>
