<!--
@license
(C) Copyright Nuxeo Corp. (http://nuxeo.com/)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
`nuxeo-assets-search-form`
@group Nuxeo UI
@element nuxeo-assets-search-form
-->
<dom-module id="nuxeo-assets-search-form">
  <template>
    <style>
      :host {
        display: block;
      }

      .row {
        box-sizing: border-box;
        margin-bottom: 1rem;
        padding: 0 1rem;
        width: 100%;
      }

      label {
        color: #434343;
        font-size: 0.8em;
        font-weight: 700;
        margin-bottom: 5px;
      }

      input {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: .2em;
        box-sizing: border-box;
        color: rgba(0,0,0,.75);
        display: block;
        font-size: 0.8em;
        height: 2rem;
        margin: 0;
        padding: .5rem;
        width: 100%;
      }

    </style>

    <!-- Full Text -->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.fullText', 'Full Text')]]</label>
      <paper-input id="searchInput" autofocus="true"
                   value="{{searchTerm}}" tabindex="0"
                   type="search"
                   placeholder="[[i18n('assetsSearch.fullText.placeholder', 'Search something ...')]]"
                   no-label-float>
      </paper-input>
    </div>

    <!-- Asset type -->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.assetType', 'Asset type')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.system_primaryType_agg]]"
        value="{{params.system_primaryType_agg}}">
      </nuxeo-checkbox-aggregation>
    </div>

    <!-- Asset Repository-->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.assetRepository', 'Asset repository')]]</label>
        <nuxeo-checkbox-aggregation
            data="[[aggregations.dc_source_agg]]"
            value="{{params.dc_source_agg}}">
        </nuxeo-checkbox-aggregation>
    </div>

    <!-- Asset License-->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.assetLicense', 'Asset license')]]</label>
        <nuxeo-checkbox-aggregation
            data="[[aggregations.lic_name_agg]]"
            value="{{params.lic_name_agg}}">
        </nuxeo-checkbox-aggregation>
    </div>    

        <!-- Asset Video360-->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.assetVideo360', 'Asset Video360')]]</label>
        <nuxeo-checkbox-aggregation
            data="[[aggregations.video360_agg]]"
            value="{{params.video360_agg}}">
        </nuxeo-checkbox-aggregation>
    </div>    

      <!-- Asset annotationStatus-->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.assetannotationStatus', 'Asset annotationStatus')]]</label>
        <nuxeo-checkbox-aggregation
            data="[[aggregations.annotationStatus_agg]]"
            value="{{params.annotationStatus_agg}}">
        </nuxeo-checkbox-aggregation>
    </div>  

          <!-- Asset enrichedStatus-->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.assetenriched', 'Asset enriched')]]</label>
        <nuxeo-checkbox-aggregation
            data="[[aggregations.enriched_agg]]"
            value="{{params.enriched_agg}}">
        </nuxeo-checkbox-aggregation>
    </div>  
  
    <!-- Asset format -->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.assetFormat', 'Asset format')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.system_mimetype_agg]]"
        value="{{params.system_mimetype_agg}}">
      </nuxeo-checkbox-aggregation>
    </div>

    <!-- Asset Width -->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.assetWidth', 'Asset Width')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.asset_width_agg]]"
        value="{{params.asset_width_agg}}">
      </nuxeo-checkbox-aggregation>
    </div>

    <!-- Asset Height -->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.assetHeight', 'Asset Height')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.asset_height_agg]]"
        value="{{params.asset_height_agg}}">
      </nuxeo-checkbox-aggregation>
    </div>

    <!-- Color Profile -->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.colorProfile', 'Color Profile')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.color_profile_agg]]"
        value="{{params.color_profile_agg}}">
      </nuxeo-checkbox-aggregation>
    </div>

    <!-- Color Depth -->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.colorDepth', 'Color Depth')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.color_depth_agg]]"
        value="{{params.color_depth_agg}}">
      </nuxeo-checkbox-aggregation>
    </div>

    <!-- Video Duration -->
    <div class="layout vertical row">
      <label>[[i18n('assetsSearch.videoDuration', 'Video Duration')]]</label>
      <nuxeo-checkbox-aggregation
        data="[[aggregations.video_duration_agg]]"
        value="{{params.video_duration_agg}}">
      </nuxeo-checkbox-aggregation>
    </div>

  </template>
  <script>
    Polymer({
      is: 'nuxeo-assets-search-form',

      properties: {
        params: {
          type: Object,
          value: {},
          notify: true
        },
        aggregations: {
          type: Object,
          value: {},
          notify: true
        },
        searchTerm: {
          type: String,
          notify: true,
          observer: '_addFullTextSearch'
        }
      },

      behaviors: [Nuxeo.I18nBehavior],
      _addFullTextSearch: function() {
        if (this.searchTerm) {
          this.set('params.ecm_fulltext', this.searchTerm + '*');
        } else {
          if (this.params.ecm_fulltext) {
            this.set('params.ecm_fulltext', '');
            // dirty but needed, the above line for
            // ecm_fulltext removal being observed
            delete this.params.ecm_fulltext;
          }
        }
      },

      clear: function() {
        this.searchTerm = '';
      }
    });
  </script>
</dom-module>
